<a href="https://colab.research.google.com/github/MagnusRedkin/Netology/blob/main/DZ_%C2%AB%D0%91%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0_Pandas%C2%BB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
movie = pd.read_csv('movies.csv')

In [3]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
rating = pd.read_csv('ratings.csv')

In [5]:
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [6]:
movie_counts = rating[rating.rating == 5.0].movieId.value_counts()
movie_counts

318      170
296      138
260      122
527      109
858      107
        ...
96911      1
94959      1
93324      1
74152      1
4277       1
Name: movieId, Length: 3127, dtype: int64

In [7]:
movie[movie.movieId == movie_counts.index[0]].title

284    Shawshank Redemption, The (1994)
Name: title, dtype: object

## Задание 2
По данным файла `power.csv` посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [8]:
quant = pd.read_csv('power.csv')

In [9]:
quant.head()

   country  year  quantity  category
0  Austria  1996       5.0       1.0
1  Austria  1995      17.0       1.0
2  Belgium  2014       0.0       1.0
3  Belgium  2013       0.0       1.0
4  Belgium  2012      35.0       1.0

In [10]:
countries = ['Latvia', 'Estonia', 'Lithuania']
categories = [4, 12, 21]

In [11]:
pribalt = quant[quant.country.isin(countries) &
          quant.category.isin(categories) &
          (2005 <= quant.year) &
          (quant.year <= 2010) &
          (quant.quantity >= 0)]
pribalt.quantity.sum()

240580.0

In [12]:
pribalt.head()

         country  year  quantity  category
10617    Estonia  2008       1.0       4.0
10618    Estonia  2007       0.0       4.0
10619    Estonia  2006       0.0       4.0
10620    Estonia  2005       1.0       4.0
11156  Lithuania  2008       1.0       4.0

In [13]:
pribalt.pivot_table(index='country', columns='year', values='quantity', aggfunc='sum', fill_value=0, margins=True)

year        2005   2006   2007   2008   2009   2010       All
country
Estonia    10252  10234  10508  10782  10660  11004   63440.0
Latvia      8664   8604   8532   8620  10104  10320   54844.0
Lithuania  18248  19892  22426  22175  22018  17537  122296.0
All        37164  38730  41466  41577  42782  38861  240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/quotes  
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [14]:
import requests

In [15]:
resp = requests.get('https://fortrader.org/quotes')

In [16]:
resp.status_code # 200 = OK

200

In [17]:
tables = pd.read_html(resp.text)

In [18]:
for i in range(len(tables)):
    print(tables[i].dropna(axis=1))

                           Название   Цена  Изменение  Изменение(%)
0  EURRUB Курс евро к рублю сегодня  99.94       3.85          4.00
1       USDRUB Курс рубля к доллару  90.92       2.87          3.26
                              Название    Цена  Изменение  Изменение(%)
0       Нефть Brent Курс нефти сегодня   75.98        0.0           0.0
1          Нефть WTI Цены на нефть WTI   71.01        0.0           0.0
2  Природный газ Цена на природный газ    2.75        0.0           0.0
3                               Хлопок   81.35        0.0           0.0
4                                 Кофе  160.40        0.0           0.0
5                             Кукуруза  487.25        0.0           0.0
6                                  Соя  429.10        0.0           0.0
                           Название   Цена  Изменение  Изменение(%)
0       Золото Цена золота на бирже  1 936       0.00           0.0
1  Серебро Цена на серебро на бирже  24.33       1.31           5.7
2         Палладий Цена на Палладий  1 247       0.00           0.0
3           Платина Цены на платину    944      15.00           2.0
4           Медь Цена меди на бирже   3.79       0.00           0.0
                                        Название      Цена   Изменение  \
0                                  ВТБ Акции ВТБ  0.025055   +0.002695
1                         Газпром Акции газпрома    171.40       +5.40
2                            Лукойл Акции Лукойл   5 890.5      +665.5
3                        Роснефть Акции Роснефти    500.55      +25.55
4                       Сбербанк Акции Сбербанка    249.25       +7.15
5           Сургутнефтегаз Акции Сургутнефтегаза    29.220      +1.200
6                      Норникель Акции Норникель    16 214      +1 496
7                       Аэрофлот Акции Аерофлота     44.81       +2.96
8                    Северсталь Акции Северсталь  1 334.60     +132.00
9                    Транснефть Акции Транснефть   123 200     -15 150
10             Ростелеком Курс акций ростелекома     73.61       +2.29
11                      РУСАЛ Акции РУСАЛ (RUAL)    42.930      +2.785
12      Детский мир iDreamSky Technology Limited     70.50       -0.88
13             Петропавловск Акции Петропавловск      1.21        0.00
14                    Алроса Акции АЛРОСА (ALRS)    83.980     +13.400
15                    Магнит Акции Магнит (MGNT)   5 802.5      +511.0
16                        НМЛК Акции НЛМК (NLMK)   204.260     +27.780
17                  М.видео Акции М.видео (MVID)    219.60      +27.90
18    Газпром нефть Акции "Газпром нефть" (SIBN)    551.90      +24.90
19                        НМТП Акции НМТП (NMTP)   10.0900     +0.7400
20            Полиметалл Акции Полиметалл (POLY)    544.10        0.00
21        Полюс Золото Акции Полюс Золото (PLZL)  11 684.5      +965.5
22                  НОВАТЭК Акции НОВАТЭК (NVTK)  1 498.00     +183.60
23                РусГидро Акции РусГидро (HYDR)    0.8392     -0.0077
24                Татнефть Акции Татнефть (TATN)    516.40      +22.20
25        АФК Система Акции АФК "Система" (AFKS)    18.230      +0.898
26                                 МТС Акции МТС    287.50       -8.50
27                Башнефть Акции Башнефть (BANE)   1 870.5      -123.0
28                    Яндекс Акции Яндекс (YNDX)   2 635.0      +256.8
29  X5 Retail Group Акции X5 Retail Group (FIVE)  2 132.00     +614.50
30                  ФСК ЕЭС Акции ФСК ЕЭС (FEES)   0.10964    +0.00786
31                      Мечел Акции Мечел (MTLR)    211.87      +33.68
32                МосБиржа Акции МосБиржа (MOEX)    131.01       +9.19
33              Интер РАО Акции Интер РАО (IRAO)      4.13       +0.13
34              Mail.ru Акции Mail.ru (MAIL, ДР)      0.00  нет данных
35                        Киви Акции Киви (QIWI)     618.0       -23.5
36                  Лента Акции Лента (LNTA, ДР)    102.30        0.00
37            Тинькофф Акции Тинькофф (TCSG, др)  3 394.50     +187.00
38                                       TGKA.MM  0.010912   +0.001878
39                        Озон Акции Озон (Ozon)  2 433.50     +489.50
40                         Positive Technologies  2 158.40     +175.40

   Изменение(%)
0    +12.052773
1         +3.25
2         +12.7
3         +5.38
4         +2.95
5        +4.283
6           +10
7         +7.07
8        +10.98
9           -11
10        +3.21
11       +6.937
12        -1.23
13         0.00
14      +18.986
15         +9.7
16      +15.741
17       +14.55
18        +4.72
19      +7.9144
20         0.00
21         +9.0
22       +13.97
23      -0.9092
24        +4.49
25       +5.181
26        -2.87
27         -6.2
28        +10.8
29       +40.49
30     +7.72254
31       +18.90
32        +7.54
33        +3.29
34   нет данных
35         -3.7
36         0.00
37        +5.83
38   +20.788134
39       +25.18
40        +8.85
                               Название    Цена   Изменение Изменение(%)
0           Google Акции Google (GOOGL)  122.60       +2.71        +2.26
1                   IBM Акции IBM (IBM)  127.50       -6.17        -4.62
2     Microsoft Акции Майкрософт (MSFT)  318.43      -19.54        -5.78
3              Apple Акции Apple (AAPL)  175.17      -17.30        -8.99
4                  Yandex Акции яндекса   18.97       +0.03        +0.16
5                   Toyota Акции Тойоты  142.14      -18.35       -11.43
6      Volkswagen Курс акций Volkswagen  121.34       -1.86        -1.51
7            Amazon Акции Amazon (AMZN)  116.25      -13.93       -10.70
8           Boeing Акции Boeing Company  205.66       -5.26        -2.49
9              Intel Акции Intel (INTC)   29.94       -3.68       -10.95
10            Coca-Cola Акции Coca-Cola   62.83       +2.25        +3.71
11         Netflix Акции Netflix (NFLX)  425.53      -15.82        -3.58
12            Pfizer Акции Pfizer (PFE)   36.74       +0.09        +0.25
13                        AMD Акции AMD  113.01       -2.80        -2.42
14  Walt Disney Акции Walt Disney (DIS)   91.42       +0.92        +1.02
15           NVIDIA Акции NVIDIA (NVDA)  312.83     -111.29       -26.24
16           PayPal Акции PayPal (PYPL)   73.95       +5.86        +8.61
17         Facebook Акции Facebook (FB)    0.00  нет данных   нет данных
18             Tesla Акции Тесла (TSLA)  179.98      -99.98       -35.71
19            Twiter Цена акций твитера   51.57  нет данных   нет данных
20    Hasbro Цена на акции Hasbro, Inc.   62.77       -2.04        -3.15
21                               Сименс  154.40       +7.42        +5.05
22                                 Qiwi    5.67        0.00         0.00
23     Mastercard Акции Mastercard (МА)  385.78       -8.18        -2.08
24         Moderna Акции Модерна (MRNA)  126.29       +4.56        +3.75
25        Макдональдс Акции Макдональдс  295.68       +0.84        +0.28
26                                 MSCI  540.70      +68.04       +14.40
27                 Zoom Акции Zoom (ZM)   73.10       +4.81        +7.04
28     HeadHunter Акции HeadHunter (HH)   15.03        0.00         0.00
29                             FIXPRICE    1.80        0.00         0.00
30                                   PG  153.22       +0.72        +0.47
31                                  JNJ  158.99       -4.36        -2.67
32                              Tencent   45.95       +2.94        +6.84
33                                  ZTE   28.95       -3.00        -9.39
34                               Lenovo   22.33       +0.97        +4.54
35                        Air China Ltd    6.25       +0.23        +3.82
36                               Xiaomi   12.16      +1.060       +9.550
37                        Bank of China    2.86       -0.30        -9.49
38                    HSBC Holdings plc   41.28       +1.33        +3.33
                                         Название       Цена Изменение  \
0         Индекс МосБиржи Индекс МосБиржи (IMOEX)    304 025   +26 925
1                    Индекс РТС Индекс РТС (RTSI)     991.58      0.00
2                      Dow Jones Индекс Dow Jones  33 826.20      0.00
3                          S&P 500 Индекс S&P 500      4 489         0
4                    Nasdaq 100 Индекс Nasdaq 100  15 844.50   +493.50
5   Euro Stoxx 50 Индекс Euro Stoxx 50 (STOXX50E)    4 462.5     +69.8
6                            FTSE 100 Индекс FTSE   7 523.48      0.00
7             Nikkei 225 Индекс Nikkei 225 (N225)     33 111      -106
8                Russell 2000 Индекс Russell 2000   1 896.78      0.00
9                              DAX30 Индекс DAX30   16 414.0    +428.3
10                           CAC 40 Индекс CAC 40    7 472.9    +100.6
11                         IBEX 35 Индекс IBEX 35    9 658.0     +71.4
12                         ASX 200 Индекс ASX 200    7 430.9    +162.8
13        Фьючерс РТС Курс фьючерса на индекс РТС    104 750    +4 090
14                                      USD INDEX     102.59      0.00

    Изменение(%)
0          10.00
1           0.00
2           0.00
3           0.00
4           3.21
5           1.60
6           0.00
7           0.00
8           0.00
9           2.70
10          1.40
11          0.70
12          2.20
13          4.00
14          0.00
                                           Название       Цена  Изменение  \
0                         EUR/USD Евро / Доллар США    1.08064   -0.00989
1                         GBP/USD Фунт / Доллар США    1.24444   -0.02906
2                            USD/CHF Доллар / Франк    0.89933    0.00421
3                         USD/JPY Доллар США / Иена  137.94900   -6.28700
4                             USD/CNH Доллар / Юань    7.02062   -0.19708
5             USD/CAD Доллар США / Канадский доллар    1.34970    0.02802
6         AUD/USD Австралийский доллар / Доллар США    0.66499   -0.00486
7                              EUR/CHF Евро / Франк    0.97178   -0.00447
8   AUD/CAD Австралийский доллар / Канадский доллар    0.89727    0.01192
9                      EUR/JPY Евро / Японская йена  149.06300   -8.24600
10                              EUR/GBP Евро / Фунт    0.86818    0.01186
11                              GBP/JPY Фунт / Йена  171.66100  -12.04200
12            NZDUSD New Zealand Dollar / US Dollar    0.62733    0.00697

    Изменение(%)
0       -0.90690
1       -2.28190
2        0.47033
3       -4.35900
4       -2.73051
5        2.12003
6       -0.72554
7       -0.45787
8        1.34636
9       -5.24200
10       1.38500
11      -6.55500
12       1.12354
                                             Название       Цена   Изменение  \
0                               Bitcoin Курс биткоина  29 271.60   -1 746.80
1          Litecoin Курс лайткоин к доллару (LTC/USD)     90.968      -3.083
2   BitcoinCash Курс Биткоин кеш к доллару США (BC...    116.465  нет данных
3                                           Dash Dash     31.921      +0.147
4                                       Ripple Ripple    0.69495    -0.01290
5                                   Ethereum Ethereum  1 817.270  нет данных
6                                         Zcash (ZEC)     29.957      -0.580
7                                           NEO (NEO)     8.7518     -0.1411
8                                           EOS (EOS)     0.7424     -0.0076
9                                          TRON (TRX)   0.077576   -0.001116
10                                             Monero     159.54       -0.83
11                                               IOTA    0.17343    -0.00272
12                       ETC/USD эфириум классик, ETC     18.215      -0.350
13                                               USDT       1.00        0.00

   Изменение(%)
0         -5.63
1        -3.278
2    нет данных
3        +0.463
4      -1.82242
5    нет данных
6        -1.899
7       -1.5867
8       -1.0133
9     -1.418187
10        -0.52
11     -1.54414
12       -1.885
13        -0.01