<a href="https://colab.research.google.com/github/MagnusRedkin/Netology/blob/main/%D0%94%D0%97_%C2%AB%D0%A4%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%B8_%D0%B8_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%D1%81_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%BC%D0%B8%C2%BB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:
* оценка 2 и ниже — низкий рейтинг;
* оценка 4 и ниже — средний рейтинг;
* оценка 4.5 и 5 — высокий рейтинг.

Результат классификации запишите в столбец class.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
movies = pd.read_csv("movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
ratings = pd.read_csv("ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
def classtype(ratte):
    rating = 'XZ'

    if ratte <= 2:
        rating = 'низкий'
    elif 2 < ratte <= 4:
        rating = 'средний'
    elif 4 < ratte <= 5:
        rating = "высокий"

    return rating

In [ ]:
ratings["class"] = ratings.rating.apply(classtype)
ratings

        userId  movieId  rating   timestamp    class
0            1       31     2.5  1260759144  средний
1            1     1029     3.0  1260759179  средний
2            1     1061     3.0  1260759182  средний
3            1     1129     2.0  1260759185   низкий
4            1     1172     4.0  1260759205  средний
...        ...      ...     ...         ...      ...
99999      671     6268     2.5  1065579370  средний
100000     671     6269     4.0  1065149201  средний
100001     671     6365     4.0  1070940363  средний
100002     671     6385     2.5  1070979663  средний
100003     671     6565     3.5  1074784724  средний

[100004 rows x 5 columns]

## Задание 2
ИИспользуем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [ ]:
keywords = pd.read_csv("keywords.csv")
keywords["region"] = "undefined"
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [ ]:
geo_data = { 'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
           }

In [ ]:
for key, values in geo_data.items():
    keywords.loc[keywords.keyword.str.\
                     contains(r'|'.join(values),
                              regex=True,
                              case=False),
                 "region"] = key

In [ ]:
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [ ]:
keywords.region.value_counts()

undefined         99253
Центр               385
Северо-Запад        268
Дальний Восток       94
Name: region, dtype: int64

## Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
    * для каждой строки пройдите по всем годам списка years
    * если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    * если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

P/S/ все файлы находятся в архиве «дополнительные файлы к лекции и дз»

Важно! При копировании юпитер ноутбука изменяет кавычки ’ на ` , что может способствовать ошибки в коде. В данной ситуации необходимо их просто заменить.

In [ ]:
def production_year(film):
    years=range(1950,2011)
    val=[year for year in years if str(year) in film['title']]
    if val:
        return val[0]
    else:
        return 1900

movies['year'] = movies.apply(production_year, axis=1)

In [ ]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [ ]:
ratings.head()

   userId  movieId  rating   timestamp    class
0       1       31     2.5  1260759144  средний
1       1     1029     3.0  1260759179  средний
2       1     1061     3.0  1260759182  средний
3       1     1129     2.0  1260759185   низкий
4       1     1172     4.0  1260759205  средний

In [ ]:
mean_rate = movies.merge(ratings, on='movieId', how='left')
mean_rate.groupby('year').rating.mean().sort_values(ascending=False)

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
          ...
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.356104
Name: rating, Length: 62, dtype: float64

### А если в одну строку?

In [ ]:
movies.merge(ratings, on='movieId', how='left').groupby('year').rating.mean().sort_values(ascending=False)

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
          ...
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.356104
Name: rating, Length: 62, dtype: float64

Однако...